*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: #ADA8B6;
    font-family: 'Comic Neue', cursive;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
header {
    background-image: url("../assets/images/jeremy-bishop-GIpGxe2_cT4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    font-weight: bolder;
}

h2{
    text-align: center;
}

.navheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
        
    &__logo{
        font-size: 32px;
        color: #781699;
    }
}

    

.art{
    border: 2px solid black;
    text-align: center;
    padding-bottom: 20px ;
    background-color: #6a6969;
}

.types{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        min-width: 400px;
        
    &__style{ 
            border: 1px solid black;
            border-radius: 50px;
            box-shadow: 5px 5px black;
            width: 250px;
            height: 250px;
            margin: 10px;
            
            &--one{
                background-image: url("../assets/images/olga-tsai-IQMCYVVa2Wc-unsplash.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }

            &--two{
                background-image: url("../assets/images/tatiana-lapina-FkjsBSUCpT4-unsplash.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }
            &--three{
                background-image: url("../assets/images/marco-assmann-Rc9mLOR7KaI-unsplash.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            } 
            &--four{ 
                background-image: url("../assets/images/david-henrichs-OKBb9_v-K1I-unsplash.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            } 
            
            a{  
                text-decoration: underline;
                color: white;
                padding: 20px; 
            }
    }
}

        


.navMain{
     font-weight: bolder;
     background: #EFF8E2;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}
li{ 
    padding: 10px;
} 

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.location:nth-child(odd){
    flex-direction: row-reverse;
}

.location__text{
    flex: 1;
}
.location__img{
    flex: 1;
}


footer{
  background-color: #573280;
  width: 100%;
}

.footer__div{  
    height: 50%;
    /* border: 2px solid black; */
    align-items: center;
    text-align: center;
}
.footer__div--img{
    width: 32px;
    height: 32px;
    margin: 10px;
}