* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #ADA8B6;
  font-family: 'Comic Neue', cursive;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

a:hover {
  color: #a00;
}

h2 {
  text-align: center;
  text-shadow: 3px 2px 12px;
}

.header {
  background-image: url("../assets/images/jeremy-bishop-GIpGxe2_cT4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__navheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.header__navheader--logo {
  font-size: 32px;
  color: #781699;
  text-shadow: 20px 20px 4px;
  padding-left: 15%;
}

.header__navheader--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__containerheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: center;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.header__containerheader--boxone {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  font-size: 52px;
  padding: 10px;
  color: #75096e;
}

.header__containerheader--boxtwo {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  padding: 50px;
}

.art {
  border: 2px solid black;
  text-align: center;
  padding-bottom: 20px;
  background-color: #6a6969;
}

.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 400px;
  border-top: 2px solid black;
}

.types__style {
  border: 1px solid black;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px black;
          box-shadow: 5px 5px black;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.types__style--one {
  background-image: url("../assets/images/olga-tsai-IQMCYVVa2Wc-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.types__style--two {
  background-image: url("../assets/images/tatiana-lapina-FkjsBSUCpT4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.types__style--three {
  background-image: url("../assets/images/marco-assmann-Rc9mLOR7KaI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.types__style--four {
  background-image: url("../assets/images/david-henrichs-OKBb9_v-K1I-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.types__style a {
  text-decoration: underline;
  color: white;
  padding: 20px;
}

.navMain {
  font-weight: bolder;
  background: #EFF8E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.location:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.location__img {
  width: 500px;
  height: 500px;
}

.location__img img {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  border-style: double;
}

footer {
  background-color: #573280;
  width: 100%;
}

.footer__div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__div--img {
  width: 32px;
  height: 32px;
  margin: 10px;
}

.footer__div p {
  color: white;
}
/*# sourceMappingURL=styles.css.map */