* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #ADA8B6;
  font-family: 'Comic Neue', cursive;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

header {
  background-image: url("../assets/images/jeremy-bishop-GIpGxe2_cT4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  font-weight: bolder;
}

h2 {
  text-align: center;
}

.navheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navheader__logo {
  font-size: 32px;
  color: #781699;
}

.art {
  border: 2px solid black;
  text-align: center;
  padding-bottom: 20px;
  background-color: #6a6969;
}

.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-width: 400px;
}

.types__style {
  border: 1px solid black;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px black;
          box-shadow: 5px 5px black;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.types__style--one {
  background-image: url("../assets/images/olga-tsai-IQMCYVVa2Wc-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.types__style--two {
  background-image: url("../assets/images/tatiana-lapina-FkjsBSUCpT4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.types__style--three {
  background-image: url("../assets/images/marco-assmann-Rc9mLOR7KaI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.types__style--four {
  background-image: url("../assets/images/david-henrichs-OKBb9_v-K1I-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.types__style a {
  text-decoration: underline;
  color: white;
  padding: 20px;
}

.navMain {
  font-weight: bolder;
  background: #EFF8E2;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

li {
  padding: 10px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.location:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.location__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.location__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  background-color: #573280;
  width: 100%;
}

.footer__div {
  height: 50%;
  /* border: 2px solid black; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__div--img {
  width: 32px;
  height: 32px;
  margin: 10px;
}
/*# sourceMappingURL=styles.css.map */